.head{
	position: relative;
	height: 262upx;
	width: 100%;
	margin-bottom: 10vw;
}
.bgImg{
  height: 100%;
	width: 100%;
}
.logo{
	width: 20vw;
	height: 20vw;
	position: absolute;
	left: 50%;
	top:70%;
	transform: translate(-50%,-50%);
}
.registerBtn{
	background: black;
	position: absolute;
	right: 40upx;
	top:40upx;
	color:#ffda2a;
	border: none;
}
.main{
	box-sizing: border-box;
	padding: 0 10vw;
}
.form{
	display: block;
	box-sizing: border-box;
	padding: 33upx 35upx;
}
.telCode{
	font-size: 30upx;
	color: white;
	display: inline-block;
	line-height: normal;
	padding: 10upx 20upx;
	background: #898989;
	margin-right: 20upx;
}
.nullFloor{
	height: 30upx;
}
.togglePsw,.forgetBtn{
	background: #898989;
	color: white;
	margin: 0;
}
.loginBtn{
	height: 90upx;
	background: #ffda2a;
	margin-top: 40upx;
}

